.required {
    color: red;
}

.text-bold {
    font-weight: bold;
}

.dashboard-visityuc {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
}

.fntsz-18 {
    font-size: 18px;
}

/* CSS image upload drag and drop */
.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

html, body { height: 100%; }

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}
/* CSS image upload drag and drop */

.badge-delete-image-tour {
    float: right;
    margin-top: -136px;
    margin-right: -2px;
    position: relative;
    font-size: 18px;
}

.borders-col-contacts {
    border-top: 1px solid #BFF4FC;
    padding-top: 5px;
    border-bottom: 1px solid #BFF4FC;
    padding-bottom: 5px;
}

.panel.panel-bluegraylight.custom .panel-heading .nav-tabs li > a {
  color: #9E9E9E ;
}

.panel.panel-bluegraylight.custom .panel-heading .nav-tabs li:hover > a {
  color: #5F737F 

  
}

