
<div class="row">
    <div class="col-md-3 text-left">
        <button style="margin-bottom:15px;" class="btn btn-success" data-ng-click="ctrlTour.returnListTour()">
            <span class="fa fa-mail-reply"></span>&nbsp;{% trans %}button.label.go.back{% endtrans %}
        </button>
    </div>
        <div class="col-md-9 text-right">
            <span class="text-bold">
                    [[ ctrlTour.nameTourTitle ]]
                </span>
        </div>
    
</div>
<div class="row" nv-file-drop="" uploader="uploader" id="ng-app" data-ng-controller="AngularFileUploadController as ctrlFile">
    
    <div class="col-md-12">

        <div class="panel panel-bluegraylight custom" data-widget='{"draggable": "false"}'>
            <div class="panel-heading">
                
                <!-- <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body, .panel-footer"}'></div> -->
                <div class="options">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#information-tour" data-toggle="tab">
                                <i class="fa fa-info text-info"></i>&nbsp;&nbsp;Información</a>
                        </li>
                        <li><a href="#images-tour" data-toggle="tab" data-ng-click="ctrlFile.setIdApplication(ctrlTour.idTourGlobal, 'tours')">
                                <i class="fa fa-image text-info"></i>&nbsp;&nbsp;Fotografías</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="information-tour">

                        {% include '@VisitaYucatan/admin/tours/TabPaneInformationTourLanguage.html.twig' %}

                    </div>
                    <div class="tab-pane" id="images-tour">

                        {% include '@VisitaYucatan/admin/tours/TabPaneImagesTourLanguage.html.twig' %}

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>