<form class="form-horizontal" name="formTourLanguage" novalidate>

    <div class="form-group">
        <label for="idiomaTour" class="col-sm-2 control-label text-bold text-uppercase">
            Selecciona Idioma
            <span class="required">*</span>
        </label>
        <div class="col-sm-8">
            <select name="idiomaTour" id="idiomaTour" class="form-control" data-ng-model="ctrlTour.tourIdiomaTo.data.idIdioma" ng-change="ctrlTour.findTourByIdAndLanguage()">
                <option value="">SELECCIONA</option>
                <option value="[[ idioma.id ]]" ng-repeat="idioma in ctrlTour.listLanguage.data">[[ idioma.descripcion | uppercase ]]</option>
            </select>
        </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : formTourLanguage.nombreTour.$invalid && !formTourLanguage.nombreTour.$pristine }">
        <label class="col-sm-2 control-label text-bold text-uppercase">
            Nombre
            <span class="required">*</span>
        </label>

        <div class="col-sm-8">
            <input type="text" id="nombreTour" ng-model="ctrlTour.tourIdiomaTo.data.nombretour"
                   name="nombreTour" class="form-control" required/>
            <span ng-show="formTourLanguage.nombreTour.$invalid && !formTourLanguage.nombreTour.$pristine" class="help-block">
                Nombre tour requerido
            </span>
        </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : formTourLanguage.circuitoTour.$invalid && !formTourLanguage.circuitoTour.$pristine }">
        <label class="col-sm-2 control-label text-bold text-uppercase">
            Circuito
            <span class="required">*</span>
        </label>

        <div class="col-sm-8">
            <input type="text" id="circuitoTour" ng-model="ctrlTour.tourIdiomaTo.data.circuito"
                   name="circuitoTour" class="form-control" required/>
            <span ng-show="formTourLanguage.circuitoTour.$invalid && !formTourLanguage.circuitoTour.$pristine" class="help-block">
                Circuito tour requerido
            </span>
        </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : formTourLanguage.descripcionTour.$invalid && !formTourLanguage.descripcionTour.$pristine }">
        <label class="col-sm-2 control-label text-bold text-uppercase">
            Descripcion
            <span class="required">*</span>
        </label>

        <div class="col-sm-8">
            <textarea name="descripcionTour" class="summernote" id="descripcionTour"
                      ng-model="ctrlTour.tourIdiomaTo.data.descripcion"
                      name="descripcionTour"
                      required>

            </textarea>
            <span ng-show="formTourLanguage.descripcionTour.$invalid && !formTourLanguage.descripcionTour.$pristine"
                  class="help-block">
                Descripcion tour requerido
            </span>
        </div>
    </div>

</form>