<header id="topnav" class="navbar navbar-fixed-top navbar-pink" role="banner">

    <div class="logo-area">
		<span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
			<a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
				<span class="icon-bg">
					<i class="ti ti-menu"></i>
				</span>
            </a>
		</span>

        <a class="dashboard-visityuc" href="{{ path('page_home_admin') }}">Visita Yucatan Admin</a>

    </div><!-- logo-area -->

    <ul class="nav navbar-nav toolbar pull-right">

        <li class="dropdown toolbar-icon-bg">
            <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
                <span class="icon-bg"><i class="fa fa-cogs"></i></span>
            </a>
            <ul class="dropdown-menu userinfo arrow">
                <li><a href="#/"><i class="ti ti-user"></i><span>Profile</span><span class="badge badge-info pull-right">80%</span></a></li>
                <li class="divider"></li>
                <li><a href="{{ path('admin_logout') }}"><i class="ti ti-shift-right"></i><span>Cerrar Sesión</span></a></li>
            </ul>
        </li>

    </ul>

</header>