<div class="static-sidebar-wrapper sidebar-default">
    <div class="static-sidebar">
        <div class="sidebar">
            <div class="widget">
                <div class="widget-body">
                    <div class="userinfo">
                        <div class="avatar" style="font-size: 45px;">
                            <span class="ti ti-user img-responsive img-circle"></span>
                        </div>
                        <div class="info">
                            <span class="username">{{ app.session.get('nombre') }}</span>
                            <span class="useremail">{{ app.session.get('user') }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget stay-on-collapse" id="widget-sidebar">
                <nav role="navigation" class="widget-body">
                    <ul class="acc-menu">
                        <li><a href="javascript:;"><i class="ti ti-layout"></i><span>{%trans%}menu.sidebar.label.title.catalogs{% endtrans %}</span></a>
                            <ul class="acc-menu">
                                <li><a href="{{ path('user_display_list') }}">{%trans%}menu.sidebar.label.title.catalogs.users{% endtrans %}</a></li>
                                <li><a href="{{ path('moneda_display_list') }}">{%trans%}menu.sidebar.label.title.catalogs.currency{% endtrans %}</a></li>
                                <li><a href="layout-static-leftbar.html">{%trans%}menu.sidebar.label.title.catalogs.languages{% endtrans %}</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:;"><i class="ti ti-map-alt"></i><span>Maps</span></a>
                            <ul class="acc-menu">
                                <li><a href="maps-google.html">Google Maps</a></li>
                                <li><a href="maps-jvectormap.html">jVectorMap</a></li>
                                <li><a href="maps-mapael.html">Mapael</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>