<form class="form-horizontal" name="formPaqueteLanguage" novalidate>

    <div class="form-group"
        ng-class="{ 'has-error' : formPaqueteLanguage.idiomaPaquete.$invalid && !formPaqueteLanguage.idiomaPaquete.$pristine }">
        <label for="idiomaPaquete" class="col-sm-2 control-label text-bold text-uppercase">
            Selecciona Idioma
            <span class="required">*</span>
        </label>
        <div class="col-sm-8">
            <select name="idiomaPaquete" id="idiomaPaquete" class="form-control" data-ng-model="paquetesVM.paqueteIdiomaTo.data.idIdioma" ng-change="paquetesVM.findPaqueteByIdAndLanguage()" required>
                <option value="">SELECCIONA</option>
                <option value="[[ idioma.id ]]" ng-repeat="idioma in paquetesVM.listLanguage">[[ idioma.descripcion | uppercase ]]</option>
            </select>
            <span ng-show="formPaqueteLanguage.idiomaPaquete.$invalid && !formPaqueteLanguage.idiomaPaquete.$pristine" class="help-block">
                Seleccione un idioma
            </span>
        </div>
    </div>
    
    
    
    <div class="form-group"
         ng-class="{ 'has-error' : formPaqueteLanguage.nombrePaquete.$invalid && !formPaqueteLanguage.nombrePaquete.$pristine }">
        <label class="col-sm-2 control-label text-bold text-uppercase">
            Nombre
            <span class="required">*</span>
        </label>

        <div class="col-sm-8">
            <input type="text" id="nombrePaquete" ng-model="paquetesVM.paqueteIdiomaTo.data.descripcion" ng-disabled="!paquetesVM.paqueteIdiomaTo.data.idIdioma"
                   name="nombrePaquete" class="form-control" required/>
            <span ng-show="formPaqueteLanguage.nombrePaquete.$invalid && !formPaqueteLanguage.nombrePaquete.$pristine" class="help-block">
                Nombre es requerido
            </span>
        </div>
    </div>
    
    <div class="form-group"
         ng-class="{ 'has-error' : formPaqueteLanguage.dias.$invalid && !formPaqueteLanguage.dias.$pristine }">
        <label class="col-sm-2 control-label text-bold text-uppercase">
            Dias
            <span class="required">*</span>
        </label>

        <div class="col-sm-8">
            <input type="text" id="dias" ng-model="paquetesVM.paqueteIdiomaTo.data.dias" ng-disabled="!paquetesVM.paqueteIdiomaTo.data.idIdioma"
                   name="dias" class="form-control" required/>
            <span ng-show="formPaqueteLanguage.dias.$invalid && !formPaqueteLanguage.dias.$pristine" class="help-block">
                Dias es requerido
            </span>
        </div>
    </div>
    

    <div class="form-group"
         ng-class="{ 'has-error' : formPaqueteLanguage.descripcionLargaPaquete.$invalid && !formPaqueteLanguage.descripcionLargaPaquete.$pristine }">
        <label class="col-sm-2 control-label text-bold text-uppercase">
            Descripcion
            <span class="required">*</span>
        </label>

        <div class="col-sm-8">
            <textarea name="descripcionLargaPaquete" class="summernote" id="descripcionLargaPaquete"
                      ng-model="paquetesVM.paqueteIdiomaTo.data.descripcionLarga"
                      name="descripcionLargaPaquete">
            </textarea>
            <span ng-show="formPaqueteLanguage.descripcionLargaPaquete.$invalid && !formPaqueteLanguage.descripcionLargaPaquete.$pristine"
                  class="help-block">
                Descripcion requerido
            </span>
        </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : formPaqueteLanguage.itinerario.$invalid && !formPaqueteLanguage.itinerario.$pristine }">
        <label class="col-sm-2 control-label text-bold text-uppercase">
            Itinerario
            <span class="required">*</span>
        </label>

        <div class="col-sm-8">
            <textarea class="summernote itinerario" id="itinerario"
                      ng-model="paquetesVM.paqueteIdiomaTo.data.itinerario"
                      name="itinerario">
            </textarea>
            <span ng-show="formPaqueteLanguage.itinerario.$invalid && !formPaqueteLanguage.itinerario.$pristine"
                  class="help-block">
                Itineario requerido
            </span>
        </div>
    </div>

    <!--<div class="form-group"
         ng-class="{ 'has-error' : formPaqueteLanguage.descripcionTour.$invalid && !formPaqueteLanguage.descripcionTour.$pristine }">
        <label class="col-sm-2 control-label text-bold text-uppercase">
            Solo adultos
        </label>

        <div class="col-sm-8">
            <input type="checkbox" ng-model="paquetesVM.tourIdiomaTo.data.soloadultos" value="true" ng-disabled="!paquetesVM.tourIdiomaTo.data.idIdioma"/>
        </div>
    </div>-->

    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary"
                data-ng-click="paquetesVM.savePaqueteLanguage(formPaqueteLanguage.$valid)"
                ng-disabled="formPaqueteLanguage.$invalid">
            <span class="fa fa-save"></span> &nbsp;
            Guardar
        </button>
    </div>

</form>