{% extends ':web:TemplateVisitaYucatan.html.twig' %}


{% block section %}

    {% block content %}
        <section>
            <div id="content">

                {% if app.session.flashbag.get('notice') %}

                    <div class="sectionMessageSuccess">
                        {% for flashMessage in app.session.flashbag.get('notice') %}

                            {{ flashMessage }}

                        {% endfor %}
                    </div>

                {% endif %}

                <form action="{{ path('web_contactar') }}" method="POST">
                    Estamos para ayudarte <br>
                    Nombre: <input type="text" name="nombre"/> <br>
                    Telefono: <input type="text" name="telefono"/> <br>
                    Correo: <input type="text" name="email"/> <br><br>
                    Comentarios: <textarea name="comentarios" cols="30" rows="10"></textarea>
                    <input type="submit" value="enviar correo"/>
                </form>

            </div>

            {% block aside %}
                {{ parent() }}
            {% endblock %}

        </section>
    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}