<div class="modal fade in" id="modalPago" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-backdrop fade in" style="height: 1037px;"></div>
    <div class="modal-dialog" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header p">
                <button type="button" data-ng-click="ctrlWeb.cancelPay();" class="close"><span class="fa fa-times"></span></button>
                <h2 class="modal-title">{% trans %}page.web.title.pay.details{% endtrans %}</h2>
            </div>
            <form class="form-horizontal row-border formPay" name="formPay" novalidate method="post" autocomplete="on">
                <div class="modal-body" style="height: 260px;">
                    <div class="col-sm-12 pb-lg">
                        <div ng-class="{ 'has-error' : formPay.cardNumber.$invalid && !formPay.cardNumber.$pristine }">
                            <label for="cardNumber">{% trans %}page.web.title.pay.details.card.number{% endtrans %}</label>
                            <br>
                            <div class="col-sm-10 p-n">
                                <input type="tel" class="form-control cardNumber cc-number" name="cardNumber" id="cardNumber" placeholder="•••• •••• •••• ••••" required
                                       data-ng-model="ctrlWeb.card.number" autocomplete="cc-number" data-ng-change="ctrlWeb.findTypeCard()">
                                <img src="{{ asset('bundles/VisitaYucatanBundle/images/tarjetas/Visa.png') }}"/>
                                <img src="{{ asset('bundles/VisitaYucatanBundle/images/tarjetas/MasterCard.pngcd') }}"/>
                                {#<span id="seccionCard">#}

                                            {#</span>#}
                                <span ng-show="formPay.cardNumber.$invalid && !formPay.cardNumber.$pristine" class="help-block">
                                                {% trans %}page.web.title.pay.details.card.number.valid{% endtrans %}
                                            </span>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="col-sm-6 pb-lg">
                        <div ng-class="{ 'has-error' : formPay.expirydate.$invalid && !formPay.expirydate.$pristine }">
                            <label for="expiryMonth">{% trans %}page.web.title.pay.details.expiration.date{% endtrans %}</label>
                            <br>
                            <div class="col-sm-8 p-n">
                                <input id="cc-exp" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="•• / ••" required
                                       data-ng-model="ctrlWeb.card.expiryDate" name="expirydate">
                                <span ng-show="formPay.expirydate.$invalid && !formPay.expirydate.$pristine" class="help-block">
                                                {% trans %}page.web.title.pay.details.expiration.date.valid{% endtrans %}
                                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pb-lg">
                        <div ng-class="{ 'has-error' : formPay.cvv.$invalid && !formPay.cvv.$pristine }">
                            <label for="expiryYear">{% trans %}page.web.title.pay.details.cvv{% endtrans %}</label>
                            <br>
                            <div class="col-sm-8 p-n">
                                <input type="password" class="form-control cc-cvc" name="cvv" id="cvv" required autocomplete="off" placeholder="•••"
                                       data-ng-model="ctrlWeb.card.code" minlength="3" maxlength="3"/>
                                <span ng-show="formPay.cvv.$invalid && !formPay.cvv.$pristine" class="help-block">
                                                {% trans %}page.web.title.pay.details.cvv.valid{% endtrans %}
                                            </span>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        &nbsp;
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-primary" data-ng-click="ctrlWeb.payProduct(formPay.$valid);"
                       data-ng-disabled="formPay.$invalid"
                        data-ng-show="ctrlWeb.buttonPayShow">{% trans %}button.label.pay{% endtrans %}</a>
                    <button type="button" class="btn btn-default" data-ng-click="ctrlWeb.cancelPay();">
                        <span class="fa fa-times-circle-o"></span> &nbsp;
                        {% trans %}button.label.cancel{% endtrans %}
                    </button>
                </div>
                <input type="hidden" value="{% trans %}page.web.title.pay.message.cancel.pay{% endtrans %}" id="cancelPay">
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>