<div>
    detail reserva : {{ detailPaquete | json_encode()}}
</div>
<div>
    paquete combinacion: {{ paqueteCombinacion.combinacionesPaquete | json_encode() }}
</div>
<div>
    importe: {{ importe }}
</div>