<html>
<head>
    <script src="{{ asset('bundles/VisitaYucatanBundle/js/web/jquery-1.11.3.min.js') }}" type="text/javascript"></script>
    <script src="https://banamex.dialectpayments.com/checkout/version/38/checkout.js"
            data-error="errorCallback"
            data-cancel="cancelCallback"
            data-complete="completeCallback"
            data-beforeRedirect="saveFormFields"
            data-afterRedirect="restoreFormFields">
    </script>

    <script type="text/javascript">
        $(function(){
            setTimeout(function(){
// curl https://banamex.dialectpayments.com/api/nvp/version/33 \ -d "apiOperation=CREATE_CHECKOUT_SESSION" \ -d "apiPassword=04b872592f8f93bb5448f048fc82e4f9" \ -d "apiUsername=merchant.TEST1032478HPP" \ -d "merchant=<your_merchant_id>" \
                $.post("https://banamex.dialectpayments.com/api/rest/version/38/merchant/TEST1032478HPP/session",
                        {
                            apiOperation: 'CREATE_CHECKOUT_SESSION',
                            apiPassword: '04b872592f8f93bb5448f048fc82e4f9',
                            apiUsername: 'merchant.TEST1032478HPP',
                            merchant: 'TEST1032478HPP',
                            order: {
                                id: 'viyuc-1231',
                                amount: 25.00,
                                currency: 'MXN'
                            }
                        }
                        , function (data) {
                            alert("success = "+ JSON.stringify(data));
                }).done(function(){
                    alert("done");
                }).fail(function (error) {
                    alert("fail = "+ JSON.stringify(error));
                }).always(function (error) {
                    alert("finished"+ JSON.stringify(error));
                });

            },5000);
        });
        function restoreFormFields() {
            alert("en restoreFormFields");
        }
        function saveFormFields() {
            alert("en beforeredirect")
        }
        function errorCallback(error) {
            alert("ERROR = "+JSON.stringify(error));
        }
        function cancelCallback() {
            alert('Payment cancelled');
        }
        function completeCallback(resultIndicator, sessionVersion) {
            alert(JSON.stringify(resultIndicator)+"*****"+JSON.stringify(sessionVersion));
        }
        function getPageState() {
            console.info("en before to redirect");
        }
        function restorePageState(data) {
            console.info("DATA = "+JSON.stringify(data));
        }
        Checkout.configure({
            merchant: 'TEST1032478HPP',
            order: {
                amount: 15.50,
                currency: 'MXN',
                description: 'Paquete 2 Dias 3 Noches',
                id: 'viyuc-131411'
            },
            interaction: {
                merchant: {
                    name: 'VISITA YUCATÁN',
                    address: {
                        line1: 'Centro Mérida',
                        line2: 'Mérida Yucatán'
                    }
                }
            }
        });
    </script>
</head>
<body>
...
<input type="button" value="Pay with Lightbox" onclick="Checkout.showLightbox();" />
...
</body>
</html>


{#2223000000000023#}
{#curl /api/nvp/version/33 \ -d "apiOperation=CREATE_CHECKOUT_SESSION" \ -d "apiPassword=6bfc0712d6d575a154f883e10362ca10" \ -d "apiUsername=merchant.TEST1032478HPP" \ -d "merchant=TEST1032478HPP" \ -d "order.id=viyuc-5" \ -d "order.amount=100.00" \ -d "order.currency=MXN"#}