<html>
<head>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://banamex.dialectpayments.com/checkout/version/38/checkout.js"
            data-error="errorCallback"
            data-cancel="cancelCallback"
            data-complete="completeCallback"
            data-beforeRedirect="saveFormFields"
            data-afterRedirect="restoreFormFields">
    </script>

    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
// curl https://banamex.dialectpayments.com/api/nvp/version/33 \ -d "apiOperation=CREATE_CHECKOUT_SESSION" \ -d "apiPassword=04b872592f8f93bb5448f048fc82e4f9" \ -d "apiUsername=merchant.TEST1032478HPP" \ -d "merchant=<your_merchant_id>" \

            }, 5000);
        });
        function restoreFormFields() {
            alert("en restoreFormFields");
        }
        function saveFormFields() {
            alert("en beforeredirect")
        }
        function errorCallback(error) {
            alert("ERROR = " + JSON.stringify(error));
        }
        function cancelCallback() {
            alert('Payment cancelled');
        }
        function completeCallback(resultIndicator, sessionVersion) {
            alert(JSON.stringify(resultIndicator) + "*****" + JSON.stringify(sessionVersion));
        }
        function getPageState() {
            console.info("en before to redirect");
        }
        function restorePageState(data) {
            console.info("DATA = " + JSON.stringify(data));
        }
        Checkout.configure({
            merchant: 'TEST1032478HPP',
            order: {
                amount: 15.50,
                currency: 'MXN',
                description: 'Paquete 2 Dias 3 Noches',
                id: 'viyuc-009',
                notificationUrl: 'http://localhost/visitayucatan2.0/testsuccess'
            },
            interaction: {
                merchant: {
                    name: 'VISITA YUCATÁN',
                    address: {
                        line1: 'Centro Mérida',
                        line2: 'Mérida Yucatán'
                    }
                }
            }
        });
        function testSession() {
            $.ajax({
                type: "POST",
                url: "https://banamex.dialectpayments.com/api/rest/version/38/merchant/TEST1032478HPP/session",
                Host: "https://banamex.dialectpayments.com",
                crossDomain: true,
                dataType: 'json',
                async: false,
                headers: {
                    "Authorization": "Basic " + btoa("merchant.TEST1032478HPP:acf4097b7dcc175966aa9f279448d93e"),
                    "cache-control": "no-cache"
                },
                data: {
                    apiOperation: "CREATE_CHECKOUT_SESSION",
                    userid: "merchant.TEST1032478HPP",
                    password: "acf4097b7dcc175966aa9f279448d93e",
                    merchant: "TEST1032478HPP",
                    order: {id: "viyuc-009", amount: 25.00, currency: "MXN"}
                },
                success: function () {
                    alert('success');
                },
                error: function (data) {
                    alert("ERROR = " + JSON.stringify(data));
                }
            });
        }
    </script>
</head>
<body>
...
<input type="button" value="Pay with Lightbox" onclick="Checkout.showLightbox();"/>
...
<br><br>
<button onclick="testSession()">TEST SESSION</button>
</body>
</html>