<div class="modal fade in" id="modalDetalleReserva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-backdrop fade in" style="height: 1037px;"></div>
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-times"></span></button>
                <h2 class="modal-title">Reserva # [[ ctrl.VentaCompletaTO.data.idreserva ]] </h2>
            </div>
            <form action="" class="form-horizontal row-border" name="formHotel" novalidate>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="col-sm-4">Tipo Reserva</div>
                                <div class="col-sm-8">[[ ctrl.VentaCompletaTO.data.tipoProducto]]</div>

                                <div class="col-sm-4">Nombres</div>
                                <div class="col-sm-8">[[ ctrl.VentaCompletaTO.data.nombres]] [[ ctrl.VentaCompletaTO.data.apellidos]]</div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-sm-4">Descripción</div>
                                <div class="col-sm-8">
                                    {% if (tipoProducto == 'Tour') %}
                                        [[ ctrl.VentaCompletaTO.data.descripciontour]]
                                    {% elseif (tipoProducto == 'Hotel') %}
                                        [[ ctrl.VentaCompletaTO.data.descripciontour]]
                                    {% else %}
                                        [[ ctrl.VentaCompletaTO.data.descripciontour]]
                                    {% endif %}
                                </div>

                                <div class="col-sm-4">Fecha</div>
                                <div class="col-sm-8">[[ ctrl.VentaCompletaTO.data.fechaventa]]</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="fa fa-times-circle-o"></span> &nbsp;
                        Cerrar
                    </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>