<div class="row" nv-file-drop="" uploader="uploader" id="ng-app" data-ng-controller="AngularFileUploadController as ctrlFile">
    <div class="col-md-12 text-left">
        <button class="btn btn-success" data-ng-click="ctrlHotel.returnListTour()">
            <span class="fa fa-mail-reply"></span>&nbsp;Regresar
        </button>
    </div>
    <br>
    <br>
    <div class="col-md-12">

        <div class="panel panel-gray" data-widget='{"draggable": "false"}'>
            <div class="panel-heading">
                <h2>
                    [[ ctrlHotel.idHotelGlobal ]]&nbsp;[[ ctrlHotel.nameHotelTitle ]]
                </h2>
                <!-- <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body, .panel-footer"}'></div> -->
                <div class="options">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#information-hotel" data-toggle="tab">
                                <i class="fa fa-info text-info"></i>&nbsp;&nbsp;Información</a>
                        </li>
                        <li><a href="#images-hotel" data-toggle="tab" data-ng-click="ctrlFile.setIdApplication(ctrlHotel.idHotelGlobal)">
                                <i class="fa fa-image text-info"></i>&nbsp;&nbsp;Fotografías</a>
                        </li>
                        <li><a href="#fechas-cierre-hotel" data-toggle="tab" data-ng-click="ctrlHotel.findFechasCierreByHotel()">
                                <i class="fa fa-calendar text-info"></i>&nbsp;&nbsp;Fechas Cierre</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="information-hotel">

                        {% include '@VisitaYucatan/admin/hotels/TabPaneInformationHotelLanguage.html.twig' %}

                    </div>
                    <div class="tab-pane" id="images-hotel">

                        {% include '@VisitaYucatan/admin/hotels/TabPaneImagesHotelLanguage.html.twig' %}

                    </div>
                    <div class="tab-pane" id="fechas-cierre-hotel">

                        {% include '@VisitaYucatan/admin/hotels/TabPanelFechasCierre.html.twig' %}

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>