.text-to-uppercase {
    text-transform: uppercase !important;
}

.text-to-lowercase {
    text-transform: lowercase !important;
}

.not-found {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.required {
    color: red;
}


@media print {
    .no-print{
        display: none !important;
    }
}
.label-voucher{
    font-weight: bold;
    font-size: 20px;
}
.datos-generales{
    border: 1px solid #bdbdbd;
    padding: 15px;
}
.zona-detalle{
    border: 1px solid #bdbdbd;
    padding: 15px;
}
.title-detalle-compra{
    font-weight: bold;
    font-size: 20px;
}
.gray-shadow{
    background-color: lightgray;
}