<header>

    <figure class="logo">
        <a href="index"><img src="{{ asset('bundles/VisitaYucatanBundle/img/logos/logo_web.png') }}" alt="Visita Yucatan"/></a>
    </figure>

    <div class="detalles-header">
        <p class="textcenter">
            <a href="tours-en-yucatan_new">Tours &nbsp;<span class="icon-play3 cir"></span></a>
            <br><br>
        </p>
    </div>

    <div class="top-header">
    </div>

    <div class="body-header">
        <div class="movil">
            <a href="#">Menu</a><span id="nav-mobile" class="icon-menu"></span>

            <div class="limpiar"></div>
        </div>
        <nav>
            <div class="limpiar"></div>
            <ul class="menu" id="menuL">
                <li class="mapas"><a href="mapas" target="_self" title="Visita Yucatán">{% trans %page.web.menu.label.start{% endtrans %}</a></li>
                <li class="mapas"><a href="mapas" target="_self" title="Visita Yucatán">{% trans %}page.web.menu.label.packages{% endtrans %}</a></li>
                <li class="mapas"><a href="mapas" target="_self" title="Visita Yucatán">{% trans %}page.web.menu.label.tours{% endtrans %}</a></li>
                <li class="subMenu" onmouseover="showsubmenu(this)">
                    <a>{% trans %}page.web.menu.label.hotels{% endtrans %}</a>
                    <ul class="ulsubmenu" onmouseout="hidesubmenu(this)">
                        <li><a href="<? echo $linkdestino; ?>">Cancun</a></li>
                        <li><a href="<? echo $linkdestino; ?>">Merida</a></li>
                    </ul>
                </li>
                <li class="mapas"><a href="mapas" target="_self" title="Visita Yucatán">{% trans %}page.web.menu.label.peninsula{% endtrans %}</a></li>
                <li class="mapas"><a href="mapas" target="_self" title="Visita Yucatán">{% trans %}page.web.menu.label.contact{% endtrans %}</a></li>
                <li class="mapas"><a href="mapas" target="_self" title="Visita Yucatán">{% trans %}page.web.menu.label.maps{% endtrans %}</a></li>
            </ul>
            <div class="limpiar"></div>
        </nav>
    </div>

</header>