<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% trans %}website.admin.general.label.title{% endtrans %} {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    {% include 'web/Lib_CSS_Web.html.twig' %}

</head>

<body>

{% block body %}

    {% block header %}
        {% include 'web/Header_Web.html.twig' %}
    {% endblock %}

    {% block section %}

        {% block content %}

            {% block aside %}
                <aside>
                    <div class="top-aside">
                    </div>
                    <div class="limpiar"></div>
                    <div class="caja-aside-right">

                    </div>
                    <div class="cajas redes-sociales">
                        <div class="redes">
                            <div class="red-left">
                                <a href="https://www.facebook.com/visitayucatan/?fref=ts">
                                    <span class="icon-facebook"></span>

                                    <p>{% trans %}page.web.commons.label.facebook{% endtrans %}</p>
                                </a>
                            </div>
                            <div class="red-right">
                                <a href="https://twitter.com/VisitYucatan">
                                    <span class="icon-twitter"></span>

                                    <p>{% trans %}page.web.commons.label.twitter{% endtrans %}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="limpiar"></div>
                </aside>
            {% endblock %}

        {% endblock %}

        {% block footer %}
        {% endblock %}

    {% endblock %}

{% endblock %}

{% block scripts %} {% include 'web/Lib_JS_Web.html.twig' %} {% endblock %}


</body>
</html>