<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% trans %}website.admin.general.label.title{% endtrans %} {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ metaDescription }}"/>

    {% include 'web/Lib_CSS_Web.html.twig' %}

    {% include '@VisitaYucatan/web/pages/ScriptGA.html.twig' %}

</head>

<body data-ng-app="Web">

{% block body %}

    {% block header %}
        {% include 'web/Header_Web.html.twig' %}
    {% endblock %}

    {% block section %}

        {% block content %}

            {% block aside %}
                {% include 'web/Aside_Web.html.twig' %}
            {% endblock %}

        {% endblock %}

        {% block footer %}
            {% include 'web/Footer_Web.html.twig' %}
        {% endblock %}

    {% endblock %}

{% endblock %}

{% block scripts %} {% include 'web/Lib_JS_Web.html.twig' %} {% endblock %}


</body>
</html>